<div class="recipe-card">
  <a [routerLink]="['/recipe', recipe.id]">
    <div class="card-container">
      <div class="image-container">
        <img [src]="recipe.image" [alt]="recipe.name">
      </div>
      <div class="content">
        <h3 class="title">{{recipe.name}}</h3>
        <app-star-rating [rating]="recipe.rating"></app-star-rating>
        
        <div class="categories">
          @for (category of recipe.categories.slice(0, 3); track $index) {
            <span class="category-badge">{{category}}</span>
          }
        </div>
        
        <div class="time">
          <i class="time-icon"></i>
          <span>{{recipe.time}} mins</span>
        </div>
      </div>
      
      <div class="footer">
        <div class="nutrition-info">
          <div class="nutrition-item">
            <p class="value">{{recipe.calories}}</p>
            <p class="label">Calories</p>
          </div>
          <div class="nutrition-item">
            <p class="value">{{recipe.netCarbs}}g</p>
            <p class="label">Carbs</p>
          </div>
          <div class="nutrition-item">
            <p class="value">{{recipe.protein}}g</p>
            <p class="label">Protein</p>
          </div>
          <div class="nutrition-item">
            <p class="value">{{recipe.fat}}g</p>
            <p class="label">Fat</p>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>

